.home{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-wrapper{
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: auto;
  gap: 1px;
  margin-top: 1px;
  overflow-x: hidden;

}

.portal-root{
  position: absolute;
}