.home{
  display: flex;
  flex-direction: column;
  height: 100%;
  //border: 1px solid white;

}

.main-wrapper{
  display: flex;
  flex-grow: 1;
  overflow: auto;
  gap: 1px;
  margin-top: 1px;
  
}

.portal-root{
  position: absolute;
}