.checkbox-wrapper{
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  transition: bottom 0.5s ease;

  &:hover{
    cursor: pointer;
    background: #2e2e2e;
  }

  &:active{
    cursor: pointer;
    background: #333333;
  }

  &:hover label{
    cursor: pointer;
    color: #c4c4c4;
  }

  .checkbox{
    border: 2px solid #3D3D3D;
    height: 18px;
    width: 18px;
    border-radius: 3px;
  }

  label{
    color: #929292;
    font-size: 12px;
    
    white-space: nowrap;
    margin-left: 10px;
    user-select: none;
  }
  
  .selected{
    background: #3D3D3D;
  }
  
  .tick {
    width: 5px;
    height: 9px;
    border-bottom: 2px solid #b9b9b9;
    border-right: 2px solid #b9b9b9;
    transform: rotate(45deg);
    margin-left: 5px;
    margin-top: 2px;
  
  }
}

.component-filter{
  display: flex;
  justify-content: start;
  
  position: absolute;
  bottom: 0px;
  
  height: 33px;
  width: 100%;

  border-radius: 5px;

  .checkbox{
    border: 1px solid #f6f6f6;
  }

  label{
    color: #f6f6f6;
  }

  .selected{
    background: #f6f6f6;

    .tick{
      border-bottom: 2px solid #0f0f0f;
      border-right: 2px solid #0f0f0f;
      margin-left: 6px;
      margin-top: 3px;
    }
  }

  @media (max-width: 1150px) {
    position: static;
  }
}

.stock-indicator{
  position: absolute;
  right: 25px;

  color: #636363;
  font-size: 12px;
  font-weight: 500;

}