
.shader{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  top: 0px;

  &:hover{
    cursor: pointer;
    background: #2e2e2e;
  }

  &:hover label{
    cursor: pointer;
    color: #c4c4c4;
  }

  &:active{
    background: #333333;
  }
}

.dropdown-wrapper{
  position: relative;
  min-width: 165px;

  .triangle {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #929292; 

    margin-right: 10px;

    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  label{
    color: #929292;
    font-size: 12px;
    
    white-space: nowrap;
    user-select: none;
    margin-left: 10px;
  }
}

.dropdown-menu{
  position: absolute;
  width: 100%;
  top: calc(100% + 1px);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.35);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;

  border-radius: 5px;
  
  border: 1px solid #353535;
}

.open .dropdown-menu{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

  :first-child{
    border-radius: 5px 5px 0px 0px;
  }
  :last-child{
    border-radius: 0px 0px 5px 5px;
  }
}

.open .triangle{
  transform: translateY(100%);
  opacity: 0;
}

.dropdown-item{
  background: #252525;
  white-space: nowrap;

  color: #929292;
  font-size: 12px;

  padding: 10px;

  &:hover{
    background: #2e2e2e;
    color: #c4c4c4;
    cursor: pointer;
  }

  &:active{
    background: #333333;
  }
  
  user-select: none;
}

.mobile{
  font-weight: 600;
  height: 43px;
  background: #2D2D2D;
  border-radius: 5px;

  .shader{
    border-radius: 5px;
  }

  .triangle{
    border-top: 6px solid #f6f6f6; 
  }

  label{
    color: #f6f6f6;
  }

  .dropdown-menu{
    border: none;
    box-shadow: none;
  }

  .dropdown-item{
    background: #2D2D2D;

    &:hover{
      background: #333333;
      color: #c4c4c4;
      cursor: pointer;
    }
  }
}