.main-wrapper{
  position: relative;
  min-width: 308px;
  background: #1C1C1C;

  overflow: auto;

  .title{
    background: #252525;
    color: #929292;
    font-size: 15px;
    font-weight: 700;
    padding: 11px 14px;
    height: 45px;
  }


}

.basket-items-wrapper{

  padding: 20px;
  
  .basket-item{
    background: #252525;
    border: 1px solid #373737;

    padding: 15px;

    border-radius: 5px;

    .title-price-wrapper{
      display: flex;
      justify-content: space-between;

      margin-bottom: 10px;

      :first-child{
        color: #D6D6D6;
        font-size: 12px;
      }

      :last-child{
        color: #62CF6D;
        font-size: 12px;
      }
    }

    .basket-item-name-wrapper{
      display: flex;
      align-items: center;

      margin-top: 5px;
 
      .dot{
        background: #4E4E4E;
        height: 4px;
        width: 4px;

        margin-right: 10px;
        border-radius: 100%;
      }

      .product-name{
        color: #BCBCBC;
        font-size: 11px;
      }
    }
  }
  
}

.floating-register-wrapper{
  position: absolute;

  background: #252525;
  
  left: 25px;
  right: 25px;
  bottom: 25px;

  border-radius: 5px;
  padding: 18px;

  .total-amount-wrapper{
    display: flex;
    justify-content: space-between;

    margin-bottom: 18px;

    :first-child{
      color: #F6F6F6;
      font-size: 14px;
      font-weight: 600;
    }

    :last-child{
      color: #C1C1C1;
      font-size: 14px;
      font-weight: 600;
      
    }
  }

  .cash-register-button{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #f6f6f6;
    background: #459C4E;

    border-bottom: 3px solid #2D6B33;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 600;

    height: 43px;
    cursor: pointer;
    user-select: none;
    
    &:hover{
      background: #4caa55;
      border-bottom: 3px solid #3a8540;
    }

    &:active{
      background: #51b85c;
      border-bottom: none;
    }
  }
}

.floating-wrapper{
  display: flex;

  position: absolute;
  bottom: 20px;
  right: 20px;

  height: calc(100% - 20px);
  width: 450px;

  z-index: 100000; // fix
  pointer-events: none;
}

.filter-button{
  position: absolute;
  bottom: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #252525;

  height: 67px;
  min-width: 67px;

  border: 1px solid #404040;
  border-radius: 5px;

  margin-right: 7px;

  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.35);
  pointer-events: auto;

  >span{
    display: block;
    background: #f6f6f6;
    
    height: 3px;
    margin: 3px 0px;

    border-radius: 5px;
  }

  >span:nth-child(1){
    width: 25px;
  }
  >span:nth-child(2){
    width: 18px;
  }
  >span:nth-child(3){
    width: 9px;
  }

  &:hover{
    cursor: pointer;
    background: #2b2b2b;
  }
  &:active{
    background: #2e2e2e;
  }

}

.basket-button{
  position: absolute;
  bottom: 0px;
  right: 0px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #252525;

  color: #f6f6f6;
  font-weight: 600;
  font-size: 14px;

  height: 67px;
  width: calc(100% - 73px);

  border: 1px solid #404040;
  border-radius: 5px;
  pointer-events: auto;

  box-shadow: 
    0px 10px 20px rgba(0, 0, 0, 0.35), /* Bottom shadow */
    10px 0px 20px rgba(0, 0, 0, 0.35), /* Right shadow */
    0px -10px 20px rgba(0, 0, 0, 0.35); /* Top shadow */

  >p:nth-child(1){
    margin-left: 25px;
  }
  >p:nth-child(2){
    margin-right: 25px;
  }

  &:hover{
    cursor: pointer;
    background: #2b2b2b;
  }
  &:active{
    background: #2e2e2e;
  }
}

.floating-basket{
  position: absolute;
  bottom: 74px;

  height: calc(100% - 74px);
  width: 100%;

  background: #252525;

  border: 1px solid #404040;
  border-radius: 5px;
  pointer-events: auto;

  box-shadow: 
    -10px 0 20px rgba(0, 0, 0, 0.35), /* Left shadow */
     10px 0 20px rgba(0, 0, 0, 0.35); /* Right shadow */

  opacity: 0;
  visibility: hidden;

  transform: translateY(20px);

  transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s ease;
}

.open{
  opacity: 1;

  visibility: visible;
  transform: translateY(0);

}



