.main-wrapper{
  min-width: 308px;
  background: #1C1C1C;

  overflow: auto;

  .title{
    background: #252525;
    color: #929292;
    font-size: 15px;
    font-weight: 700;
    padding: 11px 14px;
    height: 45px;
  }
}

.components{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

@media (max-width: 1150px) {
  .main-wrapper{
    background: #131313;
  }

  .components{
    flex-direction: row;
  }

  .title{
    display: none;
  }

  .components{
    background: #131313;
    padding: 4px 0px;

    >div:last-child{
      margin-right: 0px;
    }
  }
}

