.main-wrapper{
  position: relative;
  width: 100%;

  .top-search-wrapper{
    display: flex;
    justify-content: space-between;

    background: #252525;
    height: 46px;
    width: 100%;

    position: absolute;
    top: 0px;
    
    border-bottom: 1px solid #131313;

    .search{
      background: none;
      border: none;
      color: #f6f6f6;
      height: 100%;
      padding-left: 25px;
      padding-right: 25px;
      width: 100%;
      font-weight: 300;
      font-size: 13px;
    }

  }
}

.items{
  display: grid;
  position: relative;

  height: fit-content; // for when there is 2 rows of items
  max-height: calc(100vh - 93px); // 100% screen size - navbar
  
  padding-top: 96px;
  padding-bottom: 21px;

  gap: 1px; 

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // make this only on mobile (200px, 1fr)
  overflow-y: auto;

}

.space, .space2{
  position: absolute;

  width: 100%;
  border-top: 1px solid #131313;
}

.space{
  bottom: 0px;
  height: 21px;
  background: #1C1C1C;
}

.space2{
  display: flex;
  align-items: center;

  color: #858585;
  background: #1C1C1C;

  top: 45px;
  height: 50px;
  padding-left: 25px;

  font-size: 12px;
  font-weight: 400;

  span:nth-of-type(1){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
  }


}

@media (max-width: 1150px) {
  .items{
    padding-top: 0px;
    max-height: calc(100vh - 142px); // 100% screen size - navbar
    padding-bottom: 0px;
  }
  .hide-on-mobile {
    display: none !important;
  }
}